{% extends 'base.html' %}


{% block ajax %}{% include 'includes/ajax.html' %}{% endblock %}


{% block title %}Список устройств{% endblock title %}


{% block content %}

    {% for device in devices %}
        <div class="device">
            <a href="{% url 'device-detail' device.pk %}" class="btn-field">{{ device }}</a>
            {% include 'includes/button_form_set.html' %}
        </div>
    {% endfor %}

    <div class="paginator">
        {% include 'includes/pagination.html' %}
    </div>

{% endblock content %}