{% extends 'base.html' %}


{% block ajax %}{% include 'includes/ajax.html' %}{% endblock %}


{% block title %}Детальный просмотр{% endblock title %}


{% block content %}

    <div class="device">
        <div class="text_block">
            <h3>Маркировка устрофства:</h3> {{ device }}
            <h3>Адрес устрофства:</h3>{{ device.address }}
            <h3>Тип устройства:</h3>{{ device.alarm_type }}
        </div>

        {% include 'includes/button_form_set.html' %}
    </div>

{% endblock content %}