<div class="navbar">

    <a href="{% url 'devices-list' %}" class="navi_link">СПИСОК</a>

    {% if user.is_authenticated %}
        <a href="{% url 'rest_framework:logout' %}" class="navi_link">ВЫЙТИ</a>
    {% else %}
        <a href="{% url 'rest_framework:login' %}" class="navi_link">ВОЙТИ</a>
    {% endif %}

    <form>

        <label>
            <input type="search" name="search" class="search_field" placeholder="Введите текст для поиска">
        </label>
    </form>

    <div>
        {% if user.is_authenticated %}

            <a href="{% url 'device-create' %}" type="submit" class="create_device" id="create">ДОБАВИТЬ</a>

            <button class="btn-circle-small" id="switch_on">Вкл ВСЁ</button>
            <button class="btn-circle-small" id="switch_off">Выкл ВСЁ</button>
        {% endif %}
    </div>

</div>